body {
        font-family: Arial, sans-serif;
        font-size: 18px;
        margin: 0 auto;
        max-width: 800px;
        padding: 0 50px 150px;
        background: #DDFFDD;
}

h1 {
        margin: 50px 0 10px;
        color: #000;
        text-align: center;
        font-size: 65px;
}

h2,
h3,
h4 {
        font-family: Georgia;
        font-weight: normal;
        margin: 50px 0 10px;
}

p {
        color: #000;
        max-width: none;
        line-height: 1.75em;
}


* { padding: 0; margin: 0; }

a {
        color: #3BADE3;
}

a:hover {
        color: #00C9FF;
}

b,
strong {
        font-weight: 600;
}

i,
em {
        font-style: italic;
}

mark {
        background: #FFFFCC;
        color: #CC0000;
        padding: 4px;
        font-size: 14px;
}

img {
        max-width: 100%;
}

img.shadowed {
        box-shadow: 0 20px 35px rgba(0, 0, 0, 0.3);
}

button,
.button {
        text-decoration: none;
        display: inline-block;
        padding: 14px 25px;
        border-radius: 8px 1px 8px 1px;
        font-size: 12px;
        line-height: 1.25em;
        text-transform: uppercase;
        position: relative;
        margin: 10px;
        transition: all .2s;
        outline: none;
        background: #FFF;
        color: #333;
        border: 1px solid rgba(0, 128, 174, 0.3);
        text-shadow: none;
        cursor: pointer;
}

button:hover,
.button:hover {
        box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
}

button:active,
.button:active {
        top: 1px;
        left: 1px;
        border-color: rgba(50, 177, 255, 0.63);
        box-shadow: 0 0 5px rgba(0, 0, 0, .15);
}

button .fa,
.button .fa {
        margin-right: 5px;
}


button.white,
.button.white {
        border: 0;
        color: #000;
}

button.white:hover,
.button.white:hover {
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, .3);
}

button.white:active,
.button.white:active {
        box-shadow: 0 2px 25px 5px rgba(0, 0, 0, .5);
}


.blogpostmd, .nav, .sitemap, .rss, .footer {
    padding: 1em 0 0;   
}


nav {
        background: rgba(255, 255, 255, .9);
        box-shadow: 0 0 15px 3px rgba(0, 0, 0, .05);
        font-size: 14px;
        text-align: center;

        position: fixed;
        top: 0;
        width: 100%;
        z-index: 99;

        height: 65px;
}

nav a,
nav a .logo {
        transition: all .15s;
}

nav a {
        color: #046BC2;
        text-decoration: none;
        display: inline-block;
        padding: 25px;
}

#logo-link {
        padding-left: 0;
}

nav a:hover {
        color: #07BCFD;
}

nav a .fa {
        margin-right: 4px;
}

nav .logo {
        max-width: 105px;
        vertical-align: middle;
        margin-top: -6px;
}



header {
        text-align: center;
        display: block;
        /*background: rgba(0, 0, 0, .1);*/
        padding: 30px 10px 10px;
}

header .button {
        border: 1px solid rgba(13, 200, 251, 0.5);
        background: rgba(0, 55, 96, 0.56);
        color: #FFF;
        font-size: 14px;
}

header .button:hover {
        border-color: rgba(13, 200, 251, 1);
        background: rgba(0, 112, 183, 0.4);
}

header .button.green {
        border: #42B002; /*1px solid rgba(68, 189, 0, 0.5);*/
        background: #42B002; /*rgba(46, 126, 0, 0.38);*/
}

header .button.green:hover {
        border-color: rgba(92, 255, 0, 0.7);
        background: rgba(42, 148, 0, 0.6);
}

header .button.white {
        background: #FFF;
        border: 1px solid #FFF;
        color: #096899;
}

header .button.white:hover {
        color: #1FB3FF;
}


li,
td {
        color: #555;
}

p {
        padding: 10px 0;
        line-height: 1.5em;
        color: #555;
}

ul,
ol {
        margin: .5em 2em;
}

li {
        padding: 5px 0;
}

ul.check {
        list-style: none;
        margin-left: 0;
}

ul.check li:before {
        content:"\2713";
        margin-right: 5px;
}

ul.check-green li:before {
        color: #45D00C;
}

pre,
code {
        overflow-x: auto;
}

code {
        font: 85%/1.6em 'Monaco', 'Menlo', 'Courier New', monospace;
        padding: 4px;
        color: #444;
        background: #DFF2F7;
        tab-size: 4;
        white-space: pre;
}

pre code,
code.block {
        display: block;
        font-size: 14px;
        padding: 15px;
        word-break: normal;
        margin: 1em 0;
}

p pre code,
p code.block {
        margin: 0;
}

.text-center {
        text-align: center;
}

.block-cursor {
        display: inline-block;
        height: 1.25em;
        width: .75em;
        background: #000;
        position: relative;
        top: .15em;
}



footer {
        padding: 35px 5% 0;
        font: 300 14px/1.5em 'Open Sans', sans-serif;
        color: #555; /*#F0F0F0;*/
        background: #EDECEC; /*#444;*/
        line-height: 1.5em;
        box-shadow: inset 0 5px 15px rgba(0, 0, 0, .2);
        position: relative;
        z-index: 3;

        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
}

footer .links h6,
footer .links a {
        font-family: Lato;
        font-weight: normal;
}

footer .links h6 {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 10px;
        text-transform: uppercase;
        letter-spacing: 1.5px;
}

footer .links a {
        color: #888; /*#AAA;*/
        padding: 4px 0;
        text-decoration: none;
        font-size: 16px;
        display: block;
        transition: color .1s ease-out;
}


footer .links hr {
        width: 45px;
        margin: 15px 0;
        border-top: 1px solid #666;
}

footer .links a:hover {
        color: #333;
}

footer .copyright {
        color: #888;
        text-align: center;
        padding: 25px 0 25px;
        font-weight: normal;
        font-size: 12px;
}

footer .copyright a {
        color: #555;
        text-decoration: underline;
}


footer .ml-signup {
        text-align: left;
        font-weight: normal;
        color: #000;
        border-top: 1px solid #CCC;
        padding-top: 10px;
        margin-top: 10px;
}


.block {
        display: block;
}
mark.block {
        padding: 10px;
        margin: -10px 0;
}


.hl-vhost {
        color: #D22500;
}

.hl-directive {
        color: #006C96;
}

.hl-arg {
        color: #008000;
}

.hl-comment {
        color: #86A6B6;
}

.hl-subdirective {
        color: #835234;
}


.col {
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    column-count:3;
    column-gap:10px;
}


.blink {
        -webkit-animation: blink 1s step-start 0s infinite;
        animation: blink 1s step-start 0s infinite;
}
.block-cursor {
        -webkit-animation: blink 2s step-start 0s infinite;
        animation: blink 2s step-start 0s infinite;
}
 @keyframes blink {
        0% { opacity: 1.0; }
        50% { opacity: 0.0; }
        100% { opacity: 1.0; }
}
@-webkit-keyframes blink {
        0% { opacity: 1.0; }
        50% { opacity: 0.0; }
        100% { opacity: 1.0; }
}


@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    body {
        font-family: Arial, sans-serif;
        font-size: 3em;
        margin: 0 auto;
        padding: 0 50px 150px;
    }
    h2 {
        font-size: 150%;
    }
}
